/* Table of Contents

	01 Import Fonts
	02 Defaults
	03 Typography
		- Font Color
		- Font Family
		- Font Size
		- Font Miscellaneous
	04 Layout
		- Structure
		- 1152px CSS Grid
		- Header
		- Main Content
		- Post Info & Meta
		- Column Classes
		- Miscellaneous
	05 Menus
		- Primary Navigation Extras
	06 Headings
	07 Lists
	08 Post Navigation
	09 Comments
	10 Sidebars
	11 Footer
		- Footer Widgets
	12 Forms & Buttons
		- Gravity Forms
	13 Images & Captions
	14 Media Queries
		- max-width: 1024px
		- max-width: 768px
		- max-width: 480px

*/
/*
01 Import Fonts
---------------------------------------------------------------------------------------------------- */

@import "font-awesome.scss";

/*
02 Defaults
---------------------------------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, input, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 100%;
  /* 16px browser default */
}

body {
  background-color: #356;
  line-height: 1;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, select, textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  &:visited {
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
}

button {
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input {
  &[type="button"], &[type="submit"] {
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
}

.btn {
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

::-moz-selection, ::selection {
  background-color: #1e1e1e;
  color: #fff;
}

a {
  img {
    border: none;
  }
  &:hover {
    color: #3e3e3e;
  }
}

/*
03 Typography
-------------------------------------------------------------------------------------------------------

	This section covers font colors, families, size, styles and weight.

	This style sheet uses rem values with a pixel fallback.
	The rem values are calculated per the examples below:

	12 / 16 =		0.75rem
	14 / 16 =		0.875rem
	16 / 16 =		1rem	
	18 / 16 =		1.125rem
	20 / 16 =		1.25rem
	24 / 16 =		1.5rem
	30 / 16 =		1.875rem
	36 / 16 =		2.25rem
	42 / 16 =		2.625rem
	48 / 16 =		3rem
	
	Further reading on the use and compatibility of rems:
	
	http://caniuse.com/rem
	http://snook.ca/archives/html_and_css/font-size-with-rem
	
*/
/* 03a - Font Color ----------- */

body, input, .entry-meta-author, .entry-meta-time, .entry-meta-comments, h1 {
  color: #3e3e3e;
}

h2 {
  color: #3e3e3e;
  a {
    color: #3e3e3e;
    &:visited {
      color: #3e3e3e;
    }
  }
}

h3 {
  color: #3e3e3e;
}

h4.widgettitle, .site-title a {
  color: #3e3e3e;
  a {
    color: #3e3e3e;
  }
}

.widget {
  color: #5e5e5e;
}

a, h2 a:hover {
  color: #e80;
}

.entry-header .entry-meta, .entry-footer .entry-meta, .site-description {
  color: #636363;
}

blockquote {
  &::before, p {
    color: #999;
  }
}

input, select, textarea {
  color: #999;
}

button {
  color: #fff;
}

input {
  &[type="button"], &[type="submit"] {
    color: #fff;
  }
}

.btn {
  color: #fff;
}

.genesis-nav-menu .highlight-menu-item a {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.pagination li {
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  &.active a, &.disabled {
    color: #fff;
  }
}

/* 03b - Font Family ----------- */

body, input, textarea, .author-box h1 {
  font-family: 'Gudea', sans-serif;
}

h1, h2, h3, h4, h5, h6, .entry-title a {
  font-family: 'Arvo', serif;
}

.site-title {
  font-family: 'Arvo', serif;
  font-size: 42px;
  font-size: 2.625rem;
}

/* 03c - Font Size ----------- */

h1 {
  font-size: 36px;
  font-size: 2.25rem;
}

.entry-title {
  font-size: 36px;
  font-size: 2.25rem;
  a {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

.page .entry-title {
  border-bottom: 1px solid #ddd;
  clear: both;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  a {
    border-bottom: 1px solid #ddd;
    clear: both;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
  }
}

.software .entry-title, .error404 .entry-title, .software .entry-title a {
  border-bottom: 1px solid #ddd;
  clear: both;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

blockquote::before {
  font-size: 32px;
  font-size: 2rem;
}

h2 {
  font-size: 30px;
  font-size: 1.875rem;
  &.software-category {
    font-size: 26px;
    font-size: 1.625rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    width: auto;
  }
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
}

h4, .archive-title, .taxonomy-description h1, .widgettitle {
  font-size: 24px;
  font-size: 1.5rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}

h5 {
  font-size: 18px;
  font-size: 1.125rem;
}

h6, .author-box h1, .sidebar h2 a {
  font-size: 16px;
  font-size: 1rem;
}

.entry, .page .post.entry, .single-software .software.entry, .post.entry {
  font-size: 18px;
  font-size: 1.125rem;
}

input, select, textarea, .genesis-nav-menu, .entry-header .entry-meta, .entry-footer .entry-meta, .wp-caption, .widget, .menu-icon {
  font-size: 16px;
  font-size: 1rem;
}

/* 03d - Font Miscellaneous ----------- */

blockquote p {
  font-style: italic;
}

cite {
  font-style: normal;
}

button {
  font-weight: 700;
}

input {
  &[type="button"], &[type="submit"] {
    font-weight: 700;
  }
}

h1, h2, h3, h4, h5, h6, .btn, .entry-title a, .genesis-nav-menu, .entry-meta-comments {
  font-weight: 700;
}

.entry-header .entry-meta {
  .entry-meta-author, .entry-meta-time {
    font-weight: 700;
  }
}

.wp-caption, .site-title {
  font-weight: 700;
}

.wp-caption {
  text-align: center;
}

h2 a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

.genesis-nav-menu a, .pagination li a, .widgettitle a, .site-title a {
  text-decoration: none;
}

/*
04 Layout
---------------------------------------------------------------------------------------------------- */
/* 04a - Structure ----------- */

.site-container {
  margin: 0 auto;
}

.site-inner {
  clear: both;
  margin: 0 auto;
  max-width: 1152px;
  overflow: hidden;
  padding-top: 48px;
  padding-top: 3rem;
}

.nav-primary .wrap {
  margin: 0 auto;
  max-width: 1152px;
}

/* 04b - 1152px CSS Grid ----------- */

.sidebar-secondary {
  width: 15.277777777%;
  /* 176px / 1152px */
}

.sidebar {
  width: 32%;
  /* 352px / 1152px */
}

.content-sidebar .content, .title-area {
  width: 67%;
  /* 752px / 1152px */
}

.content-sidebar .content-sidebar-wrap {
  padding-top: 10px;
  width: 100%;
  /* 1152px / 1152px */
}

.full-width-content {
  .content, .content-sidebar-wrap {
    padding-top: 10px;
    width: 100%;
    /* 1152px / 1152px */
  }
}

.content, .content-sidebar-wrap, .site-footer .gototop, .sidebar-secondary, .title-area {
  float: left;
}

.sidebar, .site-footer .creds {
  float: right;
}

/* 04d - Main Content ----------- */

.content {
  padding-bottom: 0;
  position: relative;
  top: -10px;
}

.entry, .page .post.entry, .single-software .software.entry, .post.entry {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 10px 1px 10px;
  padding: 25px;
  position: relative;
}

.entry-content {
  overflow: visible;
  line-height: 1.625;
  p {
    line-height: 1.625;
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
  }
}

blockquote {
  padding: 24px 64px;
  padding: 1.5rem 4rem;
  &::before {
    content: "“";
    display: block;
    height: 0;
    left: -20px;
    position: relative;
    top: -10px;
  }
}

a.more-link {
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  padding-left: 16px;
  padding-left: 1rem;
}

/* 04e - Post Info & Meta ----------- */

.entry-header .entry-meta, .entry-footer .entry-meta {
  border-bottom: 1px solid #ddd;
  clear: both;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
}

.entry-header .entry-meta {
  .entry-meta-time {
    color: #999;
    font-weight: normal;
  }
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  a {
    text-decoration: none;
  }
}

.entry-meta-comments {
  background: url(../images/post-comments.png) no-repeat center left;
  float: right;
  margin-left: 16px;
  margin-left: 1rem;
  padding-left: 20px;
  padding-left: 1.25rem;
}

.entry-footer .entry-meta {
  border-top: 1px solid #ccc;
  padding-top: 24px;
  padding-top: 1.5rem;
}

.post-edit-link {
  font-weight: 700;
  margin: 0 20px 0 20px;
}

.entry-meta-categories, .tags {
  display: block;
}

/* 04f - Column Classes ----------- */

.five-sixths, .four-fifths, .four-sixths, .one-fifth, .one-fourth, .one-half, .one-sixth, .one-third, .three-fifths, .three-fourths, .three-sixths, .two-fifths, .two-fourths, .two-sixths, .two-thirds {
  float: left;
  margin-left: 4.166666666%;
  /* 48px / 1152px */
}

.one-half, .three-sixths, .two-fourths {
  width: 47.9166666666%;
  /* 552px / 1152px */
}

.one-third, .two-sixths {
  width: 30.555555555%;
  /* 352px / 1152px */
}

.four-sixths, .two-thirds {
  width: 65.277777777%;
  /* 752px / 1152px */
}

.one-fourth {
  width: 21.875%;
  /* 252px / 1152px */
}

.three-fourths {
  width: 73.958333333%;
  /* 852px / 1152px */
}

.one-fifth {
  width: 16.666666666%;
  /* 192px / 1152px */
}

.two-fifths {
  width: 37.5%;
  /* 432px / 1152px */
}

.three-fifths {
  width: 58.333333333%;
  /* 672px / 1152px */
}

.four-fifths {
  width: 79.166666666%;
  /* 912px / 1152px */
}

.one-sixth {
  width: 13.194444444%;
  /* 152px / 1152px */
}

.five-sixths {
  width: 82.638888888%;
  /* 952px / 1152px */
}

.first {
  margin-left: 0;
}

/* 04g - Miscellaneous ----------- */

p {
  &.subscribe-to-comments {
    padding: 24px 0 16px;
    padding: 1.5rem 0 1rem;
  }
  &.pages {
    clear: both;
  }
}

.clear, .clear-line, .first {
  clear: both;
}

.clear-line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
}

.alignleft, .archive-page {
  float: left;
}

.alignright {
  float: right;
}

.archive-page {
  width: 50%;
}

.author-box {
  line-height: 1.5;
  h1 {
    line-height: 1.5;
  }
}

.taxonomy-description {
  line-height: 1.5;
}

.breadcrumb {
  margin-top: 10px;
  margin-top: .625rem;
}

.author-box, #after-post, .breadcrumb, .sticky, .taxonomy-description {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  margin-bottom: .5rem;
  overflow: hidden;
  padding: 16px;
  padding: 1rem;
}

.author-box a {
  text-decoration: none;
}

#authcontact {
  border-top: 1px solid #ddd;
  clear: both;
  display: block;
  float: left;
  font-size: 80%;
  margin-top: 16px;
  margin-top: 1rem;
  padding-top: 16px;
  padding-top: 1rem;
  width: 100%;
}

/* Software */

.software-short {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  margin: 0 12px 20px 12px;
  margin: 0 .75rem 1.25rem .75rem;
  padding: 12px;
  padding: 0.75rem;
}

.software-title a {
  &:link, &:hover, &:visited {
    text-decoration: none;
  }
}

.software-short {
  .software-rating {
    border-bottom: 1px solid #ddd;
    color: #636363;
    display: block;
    font-style: italic;
    margin-bottom: 12px;
    margin-bottom: .75rem;
    .rated {
      float: left;
      font-weight: 700;
    }
  }
  .software-excerpt {
    clear: both;
  }
  .software-links {
    margin-top: 12px;
    margin-top: .75rem;
  }
}

#software-meta .software-links {
  margin: 16px 8px 16px 0;
  margin: 1rem .5rem 1rem 0;
  a {
    font-weight: 700;
    margin: 0 8px 0 8px;
    margin: 0 .5rem 0 .5rem;
  }
}

.software-short .software-links a {
  font-weight: 700;
  margin: 0 8px 0 8px;
  margin: 0 .5rem 0 .5rem;
  &:link, &:visited {
    text-decoration: none;
  }
}

#software-meta {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  margin: 0 16px 16px 16px;
  margin: 0 1rem 1rem 1rem;
  padding: 12px;
  padding: 0.75rem;
  .leftcol {
    float: left;
    font-weight: 700;
    width: 30%;
  }
  .rightcol {
    margin-left: 31%;
  }
}

.software-paypal {
  border: 2px solid #215a6f;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  float: right;
  margin: 0 0 8px 8px;
  margin: 0 0 .5rem .5rem;
  padding: 8px;
  padding: .5rem;
  width: 220px;
  width: 13.75;
  img {
    display: block;
    margin: 8px auto 8px auto;
    margin: .5rem auto .5rem auto;
  }
  p {
    margin-bottom: 0;
  }
}

.software-description h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

li.faq {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.recurring {
  margin-bottom: 16px !important;
  margin-bottom: 1rem !important;
}

/* Home Featured */

#home-featured {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0 0 10px;
  padding: 16px;
  padding: 1rem;
  position: relative;
  .widget {
    padding: 8px;
    padding: .5rem;
  }
  .widgettitle {
    border-bottom: none;
    text-align: center;
  }
  .intro-left {
    border-right: 1px solid #eee;
    float: left;
    width: 33%;
  }
  .intro-right {
    border-left: 1px solid #eee;
    float: left;
    width: 33%;
  }
  .intro-center {
    float: left;
    width: 33%;
  }
  .intro-full .widget {
    float: left;
    font-size: 30px !important;
    font-size: 1.875rem !important;
    line-height: 40px;
    line-height: 2.5rem;
    width: 100%;
  }
  img {
    margin-left: 24px;
    margin-left: 1.5rem;
  }
  span {
    margin-top: 36px;
    margin-top: 2.25rem;
    position: absolute;
  }
}

/*
05 Menus
---------------------------------------------------------------------------------------------------- */

.site-logo {
  float: left;
  margin: 7px 16px 0 8px;
  margin: .4375rem 1rem 0 .5rem;
}

.nav-primary {
  background: #ffffff;
  background: -moz-linear-gradient(top, white 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, white 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, white 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, white 0%, #f2f2f2 100%);
  background: linear-gradient(to bottom, white 0%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
  border-bottom: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  clear: both;
  color: #0e0e0e;
  font-weight: 700;
  overflow: visible;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.genesis-nav-menu {
  margin: 0;
  overflow: hidden;
  ul {
    float: left;
    width: 100%;
  }
  li {
    display: inline-block;
    float: left;
    list-style-type: none;
    text-align: left;
  }
  a {
    display: block;
    padding: 14px 20px;
    padding: .875rem 1.25rem;
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    color: #0e0e0e;
  }
  li {
    li a {
      border-left: 1px solid rgba(0, 0, 0, 0);
      border-right: 1px solid rgba(0, 0, 0, 0);
      color: #0e0e0e;
      &:link, &:visited {
        border-left: 1px solid rgba(0, 0, 0, 0);
        border-right: 1px solid rgba(0, 0, 0, 0);
        color: #0e0e0e;
      }
    }
    a:hover, &:hover a {
      background-color: #ddd;
      border-left: 1px solid #d4d4d4;
      border-right: 1px solid #d4d4d4;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
      color: #2d6a81;
    }
  }
  .current-menu-item a {
    background-color: #ddd;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    color: #2d6a81;
  }
  li {
    li a:hover {
      background-color: #fff !important;
      color: #2d6a81;
    }
    &.highlight-menu-item {
      margin-left: 20px;
      margin-left: 1.25rem;
    }
  }
  .highlight-menu-item a {
    background-color: #1e1e1e;
    &:hover {
      background-color: #ff2a00;
    }
  }
  li {
    li a {
      border-top: 1px solid #ccc;
      padding: 8px;
      padding: .5rem;
      position: relative;
      width: 170px;
      &:link, &:visited {
        border-top: 1px solid #ccc;
        padding: 8px;
        padding: .5rem;
        position: relative;
        width: 170px;
      }
    }
    ul {
      left: -9999px;
      position: absolute;
      width: 186px;
      z-index: 99;
      ul {
        margin: -55px 0 0 211px;
      }
    }
    &:hover ul ul, &.sfHover ul ul {
      left: -9999px;
    }
    &:hover, &.sfHover {
      position: static;
    }
  }
}

ul.genesis-nav-menu li {
  &:hover > ul, &.sfHover ul {
    left: auto;
  }
}

.genesis-nav-menu li {
  a .sf-sub-indicator {
    position: absolute;
    text-indent: -9999px;
  }
  li {
    a .sf-sub-indicator, li a .sf-sub-indicator {
      position: absolute;
      text-indent: -9999px;
    }
  }
}

#wpadminbar li:hover ul ul {
  left: 0;
}

/* 05a - Primary Navigation Extras ----------- */

.menu-icon {
  display: none;
  /* hide menu icon initially */
}

.genesis-nav-menu {
  li {
    &.right a {
      display: inline;
      padding: 0;
    }
    &.social-share {
      float: right;
    }
  }
  .social-share a {
    margin: 8px 8px 0 0;
    margin: .5rem .5rem 0 0;
    padding: 0;
  }
  li.social-share {
    a:hover, &:hover a {
      background-color: transparent;
      border: none;
    }
  }
}

/*
06 Headings
---------------------------------------------------------------------------------------------------- */

h1, h3, h4, h5, h6, .entry-title a {
  line-height: 1.2;
  margin-bottom: 0;
  margin-bottom: 0rem;
}

.entry-content {
  h3 {
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }
  h2 {
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }
}

.author-box h1 {
  margin: 0;
}

.taxonomy-description h1 {
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
}

.archive-title {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
}

/*
07 Lists
---------------------------------------------------------------------------------------------------- */

.entry-content {
  ol, ul {
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
  }
  ol li, ul li {
    line-height: 1.625;
  }
  ol li, ul li {
    margin-left: 40px;
    margin-left: 2.5rem;
  }
  ol li {
    list-style-type: decimal;
  }
  ul li {
    list-style-type: disc;
  }
  ol ol, ul ul {
    margin-bottom: 0;
  }
}

/*
08 Post Navigation
---------------------------------------------------------------------------------------------------- */

.pagination {
  margin: 16px 0 16px 0;
  margin: 1rem 0 1rem 0;
  text-align: center;
  li {
    display: inline;
    a {
      background-color: #fff;
      border: 1px solid #ccc;
      color: #e80;
      cursor: pointer;
      margin: 8px;
      margin: .5rem;
      padding: 8px;
      padding: 0.5rem;
      &:hover {
        background-color: #fff;
        border: 1px solid #ccc;
        color: #e80;
        cursor: pointer;
        margin: 8px;
        margin: .5rem;
        padding: 8px;
        padding: 0.5rem;
      }
    }
    &.active a, &.disabled {
      background-color: #fff;
      border: 1px solid #ccc;
      color: #e80;
      cursor: pointer;
      margin: 8px;
      margin: .5rem;
      padding: 8px;
      padding: 0.5rem;
    }
    a:hover, &.active a {
      background-color: #e80;
      color: #fff;
    }
  }
}

li.pagination-omission {
  color: #fff;
}

/*
09 Comments
---------------------------------------------------------------------------------------------------- */

#disqus_thread {
  background-color: #fff;
  border: 1px solid #ccc;
  line-height: 1.5;
  overflow: hidden;
  margin: 4px 1px 0;
  padding: 25px;
}

/*
10 Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
  display: inline;
  line-height: 1.5;
}

.widgettitle {
  border-bottom: 1px solid #eeeeee;
  margin: 4px 0 12px 0;
  margin: .25rem 0 .75rem 0;
  padding: 0 0 4px 0;
  padding: 0 0 .25rem 0;
}

.sidebar {
  p {
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }
  .widget {
    background-color: #efefef;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    margin-bottom: .5rem;
    padding: 8px;
    padding: .5rem;
    overflow: hidden;
  }
  .widgettitle {
    border-bottom: 1px solid #ddd;
  }
  &.widget-area ul {
    padding: 0 24px;
    padding: 0 1.5rem;
    li {
      list-style-type: circle;
      margin-bottom: 6px;
      margin-bottom: 0.375rem;
      padding: 0;
      word-wrap: break-word;
    }
  }
  #affiliates {
    text-align: center;
    a {
      padding: 4px;
      padding: .25rem;
    }
  }
  #donationwidget {
    font-size: 80%;
    font-weight: bold;
    text-align: center;
  }
}

.widget_twitter {
  .time-meta, .from-meta {
    color: #999;
    font-size: 12px;
    font-size: .75rem;
    font-style: italic;
  }
  a {
    text-decoration: none;
  }
}

.smallabout {
  float: left;
  margin: 0 8px 8px 0;
  margin: 0 .5rem .5rem 0;
}

.nrelate {
  margin-left: 44px;
}

/*
11 Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  color: #ddd;
  font-size: 75%;
  overflow: hidden;
  width: 100%;
  a {
    color: #fff;
    text-decoration: none;
    &:hover, &:active {
      text-decoration: underline;
    }
  }
  .wrap {
    margin: 0 auto;
    max-width: 1152px;
  }
  p {
    text-align: right;
    padding: 8px;
    padding: .5rem;
  }
}

/*
12 Forms & Buttons
---------------------------------------------------------------------------------------------------- */

input, select, textarea {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 8px;
  padding: .5rem;
  width: 100%;
}

.searchform input {
  margin: 0;
  padding: 8px 4px;
  padding: .5rem .25rem;
}

button {
  background: #2d6a81;
  border: none;
  color: #fff !important;
  cursor: pointer;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 18px;
  line-height: 1.125rem;
  padding: 8px;
  padding: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}

input {
  &[type="button"], &[type="submit"] {
    background: #2d6a81;
    border: none;
    color: #fff !important;
    cursor: pointer;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 18px;
    line-height: 1.125rem;
    padding: 8px;
    padding: .5rem;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
  }
}

.btn {
  background: #2d6a81;
  border: none;
  color: #fff !important;
  cursor: pointer;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 18px;
  line-height: 1.125rem;
  padding: 8px;
  padding: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}

button:hover {
  background: #e80;
  /* Old browsers */
  color: #f5f5f5 !important;
  text-decoration: none;
}

input:hover {
  &[type="button"], &[type="submit"] {
    background: #e80;
    /* Old browsers */
    color: #f5f5f5 !important;
    text-decoration: none;
  }
}

.btn:hover {
  background: #e80;
  /* Old browsers */
  color: #f5f5f5 !important;
  text-decoration: none;
}

.enews input[type="submit"], .search-form input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* 12a - Gravity Forms ----------- */

.content div.gform_wrapper {
  input, select, textarea, .ginput_complex label {
    font-size: 15px;
    font-size: 1rem;
    padding: 8px;
    padding: .5rem;
    width: 98%;
  }
  select {
    height: 40px;
  }
  span {
    &.ginput_left {
      float: left;
      width: 49.5%;
    }
    &.ginput_right {
      float: right;
      width: 49.5%;
    }
  }
  input[type="submit"] {
    padding: 8px 12px;
    padding: .5rem .75rem;
    width: auto;
  }
  .ginput_complex label {
    padding: 0;
  }
}

div.gform_wrapper {
  li, form li {
    list-style: none;
    margin: 16px 0 16px 0;
    margin: 1rem 0 1rem 0;
    overflow: hidden;
  }
  li.gform_validation_container {
    display: none;
    height: 1px;
    left: -99999px;
    position: absolute;
    width: 1px;
  }
}

#gforms_confirmation_message {
  background-color: #BFFFC7;
  border: 1px solid #ccc;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding: 8px;
  padding: 1rem;
}

.gform_wrapper {
  ul {
    &.gfield_checkbox li, &.gfield_radio li {
      padding: 0 0 0 1px !important;
    }
  }
  .left-pad div ul li {
    padding-left: 1px !important;
  }
}

/*
13 Images & Captions
---------------------------------------------------------------------------------------------------- */

embed, img, object, video {
  max-width: 100%;
}

img {
  height: auto;
}

.alignleft .avatar {
  margin-right: 24px;
  margin-right: 1.5rem;
}

.alignright .avatar {
  margin-left: 24px;
  margin-left: 1.5rem;
}

.author-box .avatar {
  float: left;
  margin-right: 24px;
  margin-right: 1.5rem;
}

.comment-list li .avatar {
  float: left;
  margin: 0;
}

img.centered, .aligncenter {
  display: block;
  margin: 0 auto 24px;
  margin: 0 auto 1.5rem;
}

img {
  &.alignnone {
    display: inline;
    margin-bottom: 12px;
    margin-bottom: 0.75rem;
  }
  &.alignleft {
    display: inline;
    margin: 0 24px 24px 0;
    margin: 0 1.5rem 1.5rem 0;
  }
}

.post-image, .wp-caption.alignleft {
  display: inline;
  margin: 0 24px 24px 0;
  margin: 0 1.5rem 1.5rem 0;
}

img.alignright, .wp-caption.alignright {
  display: inline;
  margin: 0 0 24px 24px;
  margin: 0 0 1.5rem 1.5rem;
}

p.wp-caption-text {
  line-height: 1.2;
  margin-top: 12px;
  margin-top: 0.75rem;
}

.rating-stars {
  background: url('../images/star-sprite.png') no-repeat 0 0;
  float: left;
  height: 20px !important;
  margin: 0 5px 0 5px;
  margin: 0 0.3125rem 0 0.3125rem;
  max-height: 20px !important;
  width: 112px;
  padding: 0;
  line-height: 20px !important;
  .rating {
    display: block;
    background: url('../images/star-sprite.png') no-repeat -112px 0px;
    height: 20px;
    max-height: 20px;
    padding: 0;
  }
}

.rsswidget img {
  display: none;
  position: absolute;
  top: -10000px;
  width: 1px;
  height: 1px;
}

/*
14 Media Queries
---------------------------------------------------------------------------------------------------- */
/* Desktops, laptops and iPads (landscape) ----------- */
@media only screen and (max-width: 1024px) {
  .site-inner, .nav-primary .wrap, .site-footer .wrap {
    max-width: 960px;
  }
}

/* Desktops, laptops and iPads (landscape) ----------- */
@media only screen and (max-width: 935px) {
  .menu-icon {
    display: inline-block;
    margin: 4px;
    margin: .25rem;
    padding: 14px 20px;
    padding: .875rem 1.25rem;
    float: right;
  }
  .genesis-nav-menu {
    a {
      padding: 8px;
      padding: .5rem;
    }
    .social-share a {
      margin: 4px 4px 0 0;
      margin: .25rem .25rem 0 0;
    }
    li {
      &.social-share {
        clear: none !important;
        float: left;
        margin: 4px 4px 8px 4px;
        margin: .25rem .25rem .5rem .25rem;
        width: 30px;
      }
      &.social-rss {
        margin: 4px 4px 8px 24px;
        margin: .25rem .25rem .5rem 1.5rem;
      }
      ul {
        display: block !important;
        left: 0 !important;
        position: relative;
        visibility: visible !important;
      }
    }
  }
  .nav-primary .menu {
    display: none;
  }
  .genesis-nav-menu {
    li {
      clear: both;
      float: left;
      width: 100%;
      ul {
        clear: both;
        float: left;
        width: 100%;
        border-bottom: none;
        border-top: none;
      }
      li {
        border-bottom: none;
        border-top: none;
        a {
          border: none;
          clear: both;
          font-weight: normal;
          padding: 4px 0 4px 48px;
          padding: 0.25rem 0 0.25rem 3rem;
          position: relative;
          width: 100%;
          &:link, &:visited {
            border: none;
            clear: both;
            font-weight: normal;
            padding: 4px 0 4px 48px;
            padding: 0.25rem 0 0.25rem 3rem;
            position: relative;
            width: 100%;
          }
        }
      }
      ul ul {
        margin: -55px 0 0 211px;
      }
      &.right {
        float: left;
        margin: 0 auto;
        padding: 24px 20px;
        padding: 1.5rem 1.25rem;
        width: 90%;
      }
      float: none;
    }
    text-align: center;
    float: left;
  }
  html {
    font-size: 87.5%;
    /* 14px base */
  }
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 800px) {
  .site-inner {
    padding: 64px 0 0 0;
    padding: 4rem 0 0 0;
  }
  .content {
    top: 0;
  }
  .sidebar, .site-footer .creds {
    float: left;
  }
  .wrap {
    width: 97%;
  }
  .site-footer {
    .creds, .gototop {
      width: 97%;
    }
  }
  .site-inner, .title-area {
    width: 97%;
  }
  .site-container {
    .sidebar, .content, .content-sidebar-wrap, .sidebar-secondary {
      width: 97%;
    }
  }
  #home-featured span {
    margin-top: 20px;
    margin-top: 1.25rem;
  }
  .site-footer {
    .creds, .gototop {
      float: none;
    }
  }
  .site-description {
    text-align: center;
  }
  .site-footer {
    .creds, .gototop {
      text-align: center;
    }
  }
  .site-title, .title-area {
    text-align: center;
  }
  .site-title {
    margin: 16px 0;
    margin: 1rem 0;
  }
  .site-footer .wrap {
    padding: 24px 0;
    padding: 1.5rem 0;
  }
  #home-featured {
    border-right: none;
    border-left: none;
    .intro-left {
      border-bottom: 1px solid #eee;
      border-right: none;
      float: none;
      width: 100%;
    }
    .intro-right {
      border-left: none;
      float: none;
      width: 100%;
    }
    .intro-center {
      border-bottom: 1px solid #eee;
      float: none;
      width: 100%;
    }
    img {
      display: block;
      float: none;
      margin: 0 auto 0 auto;
    }
    span {
      clear: both;
      position: relative;
    }
  }
  .scpTwitter, .scpStumbleupon, .scpPinterest, .scpLinkedin, .scpGoogle, .scpFacebook, .scpBuffer {
    margin-bottom: 32px;
    margin-bottom: 2rem;
  }
  .nav-primary .wrap, .site-footer .wrap {
    padding: 0;
  }
  .site-inner {
    padding: 64px 0 0 0;
    padding: 4rem 0 0 0;
  }
  #reply-title {
    margin-left: 10px;
  }
  .wrap {
    width: 100%;
  }
  .site-footer {
    .creds, .gototop {
      width: 100%;
    }
  }
  .site-inner {
    width: 100%;
  }
  .site-container {
    .sidebar, .content, .content-sidebar-wrap, .sidebar-secondary {
      width: 100%;
    }
  }
  .entry, .page .post.entry, .author-box, #after-post, .breadcrumb, .sticky, .taxonomy-description, #commentform, .sidebar .widget, .post.entry, #home-featured {
    border-left: none;
    border-right: none;
  }
  .software-paypal {
    border-bottom: 2px solid #e80;
    border-left: none;
    border-right: none;
    border-top: 2px solid #e80;
    float: none;
    margin: 8px 0 8px 0;
    margin: .5rem 0 .5rem 0;
    width: 100%;
  }
  img.alignleft, .post-image, .wp-caption.alignleft {
    margin: 0 40px 8px 40px;
    margin: 0 2.5rem .5rem 2.5rem;
  }
  .archive-page, .five-sixths, .four-fifths, .four-sixths, .one-fifth, .one-fourth, .one-half, .one-sixth, .one-third, .three-fifths, .three-fourths, .three-sixths, .two-fifths, .two-fourths, .two-sixths, .two-thirds {
    margin: 0;
    width: 100%;
  }
  #software-meta {
    .leftcol {
      float: none;
      font-weight: 700;
      width: 100%;
    }
    .rightcol {
      border-bottom: 1px solid #ddd;
      float: none;
      margin-left: 0;
      width: 100%;
    }
    .software-links {
      overflow: hidden;
      a {
        float: left;
        margin: 8px 32px 8px 0;
        margin: .5rem 2rem .5rem 0;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  img {
    &.alignleft, &.alignright {
      clear: both;
      float: none;
    }
  }
  .post-image, .wp-caption.alignleft {
    clear: both;
    float: none;
  }
  h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  .entry-title {
    font-size: 24px;
    font-size: 1.5rem;
    a {
      font-size: 24px;
      font-size: 1.5rem;
    }
  }
}